<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    border-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    border-color: #b5e4b5;
  }
</style>

<div class="col-lg-6">
	<div class="box">
		<div class="box-header with-border">
			<h3 class="box-title">Proses Transaksi</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<form action="#" method="get" name="editTransaksi" class="css-form">
				<!--<div class="callout callout-success" ng-show="success">User Berhasil Diedit!</div> -->
				<div class="form-group">
					<input type="text" class="form-control" name="id_order" placeholder="Order ID" required ng-model="formData.id_order">
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="ticket" placeholder="Tiket" required ng-model="formData.ticket">
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</div>
						<input type="text" class="form-control" name="no_akun" placeholder="No. Akun" required ng-model="formData.no_akun">
					</div>
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="bank_tujuan" placeholder="bank" required ng-model="formData.bank_tujuan">
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<select class="form-control" name="bank" ng-model="formData.bank">
						<option value="BNI">BNI</option>
						<option value="BCA">BCA</option>
						<option value="BRI">BRI</option>
						<option value="MANDIRI">MANDIRI</option>
						<option value="Other">Lain</option>
					</select>
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="no_rek" placeholder="No Rekening" required ng-model="formData.no_rek">
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="nominal" placeholder="Jumlah Order" required ng-model="formData.nominal">
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="total_transfer" placeholder="Jumlah Transfer" required ng-model="formData.total_transfer">
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<select class="form-control" name="status" ng-model="formData.status">
						<option value="new">New</option>
						<option value="pending">Pending</option>
						<option value="berhasil">Berhasil</option>
						<option value="gagal">Gagal</option>
					</select>
					<!-- /.input group -->
				</div>
				<div class="box-footer">
					<div class="form-group">
						<a class="btn btn-default">Reset</a>&nbsp;<a class="btn btn-primary pull-right" ng-click="editTransaksi.$valid && update(formData._id)">Submit</a>
						<!-- /.input group -->
					</div>
				</div>
			</form>
		</div>
	</div>
</div>