<div class="col-lg-12">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Deposit Member</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<table id="example2" class="table table-bordered table-hover" datatable="ng">
				<thead>
					<tr>
						<th>Order-id</th>
						<th>Status</th>
						<th>Akun</th>
						<th>Nama(s)</th>
						<th>Nominal</th>
						<th>Jumlah Transfer</th>
						<th>Bank</th>
						<th>No. Rekening</th>
						<th>Order Date</th>
						<th>Process Date</th>
						<th>Tiket</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="data in trans">
						<td>{{ data.id_order }}</td>
						<td>{{ data.status }}</td>
						<td>{{ data.no_akun }}</td>
						<td>{{ data.nama }}</td>
						<td>{{ data.nominal }}</td>
						<td>{{ data.total_transfer }}</td>
						<td>{{ data.bank }}</td>
						<td>{{ data.no_rek }}</td>
						<td>{{ data.reg_date }}</td>
						<td>{{ data.proc_date }}</td>
						<td>{{ data.ticket }}</td>
						<td><a href="#" class="btn"><i class="fa fa-pencil" title="Edit" ui-sref="proses({id : data._id })"></i></a><a href="#" class="btn"><i class="fa fa-trash" title="Hapus" ng-click="del(data._id)"></i></a></td>
					</tr>
					<!-- <tr >
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asddas</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
					</tr>
					<tr >
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asdqwqw</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
					</tr>
					<tr >
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asdzz</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
					</tr> -->
				</tbody>
			</table>
		</div>
		<!-- /.box-body -->
	</div>
</div>
