<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    border-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    border-color: #b5e4b5;
  }
</style>

<div class="col-lg-6">
	<div class="box">
		<div class="box-header with-border">
			<h3 class="box-title">Add New Member</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<form action="#" method="get" name="addUser" class="css-form">
				<div class="callout callout-success" ng-show="success">User Telah Dibuat!</div>
				<div class="form-group" ng-if="ctrl.contact.id">
					<input type="text" class="form-control" name="no_akun" placeholder="No. Akun" required ng-model="formData.no_akun">
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="no_akun" placeholder="No. Akun" required ng-model="formData.no_akun">
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</div>
						<input type="text" class="form-control" name="nama" placeholder="Nama" required ng-model="formData.nama">
					</div>
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<input type="email" class="form-control" name="email" placeholder="Email@mail.com" required ng-model="formData.email">
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-mobile-phone"></i>
						</div>
						<input type="text" class="form-control" name="phone" placeholder="Phone" required ng-model="formData.phone">
					</div>
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-lock"></i>
						</div>
						<input type="password" class="form-control" name="phonepass" placeholder="Phone Password" required ng-model="formData.phonepass">
					</div>
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-lock"></i>
						</div>
						<input type="password" class="form-control" name="phonepass2nd" placeholder="Validasi Phone Password" required>
					</div>
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-gift"></i>
						</div>
						<input type="text" class="form-control" name="tuj_rebate" placeholder="Tujuan Rebate" required ng-model="formData.tuj_rebate">
					</div>
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-suitcase"></i>
						</div>
						<input type="text" class="form-control" name="bank" placeholder="Bank" required ng-model="formData.bank">
					</div>
					<!-- /.input group -->
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="no_rek" placeholder="No. Rekening" required ng-model="formData.no_rek">
					<!-- /.input group -->
				</div>
				<div class="box-footer">
					<div class="form-group">
						<a class="btn btn-default">Reset</a>&nbsp;<a class="btn btn-primary pull-right" ng-click="addUser.$valid && createUser()">Submit</a>
						<!-- /.input group -->
					</div>
				</div>
			</form>
		</div>
	</div>
</div>