<div class="col-lg-12">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Hover Data Table</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<table id="example2" class="table table-bordered table-hover" datatable="ng">
				<thead>
					<tr>
						<th>No</th>
						<th>Akun</th>
						<th>Nama(s)</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Phone Password</th>
						<th>Tujuan Rebate</th>
						<th>Bank</th>
						<th>No. Rekening</th>
						<th>Reg. Date</th>
						<th>Affiliasi</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="data in users">
						<td>{{ $index + 1 }}</td>
						<td>{{ data.no_akun }}</td>
						<td>{{ data.nama }}</td>
						<td>{{ data.email }}</td>
						<td>{{ data.phone }}</td>
						<td>{{ data.phonepass }}</td>
						<td>{{ data.tuj_rebate }}</td>
						<td>{{ data.bank }}</td>
						<td>{{ data.no_rek }}</td>
						<td>{{ data.reg_date }}</td>
						<td>{{ data.aff }}</td>
						<td><a href="#" class="btn"><i class="fa fa-pencil" title="Edit" ui-sref="editUser({id : data._id})"></i></a><a href="#" class="btn" ng-click="delUser(data._id)"><i class="fa fa-trash" title="Hapus"></i></a></td>
					</tr>
					<!-- <tr >
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asddas</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
					</tr>
					<tr >
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asdqwqw</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
					</tr>
					<tr >
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
						<td>asdzz</td>
						<td>asd</td>
						<td>asd</td>
						<td>asd</td>
					</tr> -->
				</tbody>
			</table>
		</div>
		<!-- /.box-body -->
	</div>
</div>
